miscellaneous-projects/sample-jaxrs-btm-top/src/test/resources/wsdl-definition.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://arthematic.jaxws.javaee7.org/" name="ArithmeticCalculator" targetNamespace="http://arthematic.jaxws.javaee7.org/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://arthematic.jaxws.javaee7.org/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://arthematic.jaxws.javaee7.org/">
  <xs:element name="calculateExpression" type="tns:calculateExpression"/>
  <xs:element name="calculateExpressionResponse" type="tns:calculateExpressionResponse"/>
  <xs:complexType name="calculateExpression">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calculateExpressionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArithmeticCalculationException" type="tns:ArithmeticCalculationException"/>
  <xs:complexType name="ArithmeticCalculationException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="calculateExpression">
    <wsdl:part element="ns1:calculateExpression" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="calculateExpressionResponse">
    <wsdl:part element="ns1:calculateExpressionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ArithmeticCalculationException">
    <wsdl:part element="ns1:ArithmeticCalculationException" name="ArithmeticCalculationException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ArithmeticCalculator">
    <wsdl:operation name="calculateExpression">
      <wsdl:input message="ns1:calculateExpression" name="calculateExpression">
    </wsdl:input>
      <wsdl:output message="ns1:calculateExpressionResponse" name="calculateExpressionResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:ArithmeticCalculationException" name="ArithmeticCalculationException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>